* {
  box-sizing: border-box;
}

body {
  /* display: flex;
  flex-wrap: wrap;*/
  align-items: center;
  justify-content: center;
  /*min-height: 100vh;*/
  float: left;
}
.text-center {
  text-align: center;
  margin-top: 40%;
}
.headings {
  color: hsl(0, 0%, 95%);
  padding-top: 20px;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
}
.box {
  position: relative;
  width: 100%;
  padding: 200px;
  background-color: hsl(0, 0%, 95%);
  /*display: flex;*/
  overflow: hidden;
}
.column {
  padding: 2rem;
  width: 33.33%;
  height: 400px;
  float: left;
}
#first-column {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
#last-column {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.para1 {
  text-align: left;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 15;
  color: hsl(0, 0%, 100%, 0.75);
  padding-top: 20px;
  /*padding-bottom: 100px;*/
}
.para2 {
  text-align: left;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 15;
  color: hsl(0, 0%, 100%, 0.75);
  padding-top: 20px;
  /*padding-bottom: 100px;*/
}
.para3 {
  text-align: left;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 15;
  color: hsl(0, 0%, 100%, 0.75);
  padding-top: 20px;
  /*padding-bottom: 100px;*/
}
.all-button {
  border-radius: 10px;
  border-style: none;
  padding: 8px;
  background-color: hsl(0, 0%, 95%);
  margin-left: auto;
  margin-right: auto;
}
#firstbtn {
  color: hsl(31, 77%, 52%);
}
#secondbtn {
  color: hsl(184, 100%, 22%);
}
#lastbtn {
  color: hsl(179, 100%, 13%);
}
@media screen and (min-width: 375px) {
  .column{
    flex-direction:row;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1440px) {
  .column{
    flex-direction: column;
    flex-wrap: nowrap;
  }
  }
  